<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.or.hanium.mapper.CompanyMapper">
	<select id="select" resultType="kr.or.hanium.model.Company">
		select * from hanium.Company, hanium.recruitment where Company.company_id=recruitment.company_id
	</select>

	<select id="selectMain" resultType="kr.or.hanium.model.Company">
		select Company.company_id, company_name, company_founded_date, company_scale, company_sector, company_url, company_location
			from hanium.Company, hanium.recruitment where Company.company_id=recruitment.company_id and company_scale='대기업';
	</select>

	<select id="selectSearch" resultType="kr.or.hanium.model.Company">
		select Company.company_id, company_name, company_founded_date, company_scale, company_sector, company_url, company_location from hanium.Company, hanium.recruitment where Company.company_id=recruitment.company_id
		<if test="work_location != null">
			AND work_location like CONCAT('%',#{work_location},'%')
		</if>

		<if test="recruitment_school != null">
			AND recruitment_school like CONCAT('%',#{recruitment_school},'%')
		</if>

		<if test="company_scale != null">
			AND company_scale like CONCAT('%',#{company_scale},'%')
		</if>

		<if test="recruitment_form != null">
			AND recruitment_form like CONCAT('%',#{recruitment_form},'%')
		</if>
	</select>
</mapper>